@import url(./animation.css);
@import url(./corrections.css);
@import url(./about.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background-color: #111111;
    color: whitesmoke;
    text-decoration: none;
    /* overflow-y: hidden; */
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
/* --- CABEÇALHO --- */
.user-info {
    background-color: #111111;
    height: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
    perspective: 800px;
    perspective-origin: right center;
}

.profile-button {
    background-color: #cf1892;
    font-size: 1rem;
    height: 40px;
    width: 100px;
    margin-left: 20px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    color: #f5f5f5;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
}

.profile-button:hover {
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    background-color: #772e8a;
    color: #f5f5f5;
}

.logout-form {
    perspective: 800px;
}

.user-info .logout-button {
    background-color: #cf1892;
    font-size: 1rem;
    height: 40px;
    width: 100px;
    margin-left: 20px;
    transform: translateZ(0);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    color: #f5f5f5;
    cursor: pointer;
}

.user-info .logout-button:hover {
    background-color: #772e8a;
}

.title {
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    background-color: #111111;
    height: 85vh;
}

/* --- LISTAS --- */
ul {
    list-style: outside;
}

li {
    margin-top: 12px;
    transition: transform 0.2s ease-in-out;
}

li a {
    color: #c0c0c0;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    display: inline-block;
}

li a:hover {
    font-size: 1.1rem;
    color: #f1f1f1;
    transform: translateX(10px);
}

.divList {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-width: 800px;
    min-height: 0;
    max-height: 50vh;
    background-color: rgb(44, 38, 41);
    padding: 40px;
    border-radius: 15px;
    border: 3px solid #cf1892;
    transition: transform 1s ease-in-out;
}

.divList h2, p {
    background-color: rgb(44, 38, 41);
}
.index{
    flex-shrink: 0;
}
#file-list {
    background-color: rgb(44, 38, 41);
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    min-height: 200px;
    padding-top: 10px;
    padding-right: 10px;
}
#file-list::-webkit-scrollbar{
    display: none;
}
#file-list li{
    overflow-x: hidden;
    /* tirando o scroll horizontal */
}
#file-list li a {
    display: inline-block;
    overflow-wrap: break-word;
    word-break: break-all;
    overflow-x: hidden;
    max-width: 100%;
}

/* --- UPLOAD --- */
.filesUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    perspective: 800px;
}

.filesUpload h2 {
    background-color: #111111;
}

button {
    color: #f5f5f5;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-size: 1.1rem;
    width: 100px;
    height: 50px;
    background-color: #cf1892;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transform: translateZ(0);
}

.folderButton {
    width: 50px;
}

.file-input-label {
    cursor: pointer;
    font-size: 1.2rem;
    color: #f5f5f5;
    background-color: #cf1892;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid whitesmoke;
    display: inline-block;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.file-input-label:hover, button:hover {
    background-color: #772e8a;
    transform: translateZ(60px);
}

#file-name {
    color: white;
    font-style: italic;
}

#file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.back-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: rgb(44, 30, 37);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #7c2c5b;
}

input[type=text] {
    padding: 10px;
    background-color: rgb(44, 38, 41);
    border-radius: 15px;
    border: 2px solid rgb(196, 196, 196);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type=text]:focus {
    outline: none;
    border-color: #cf1892;
}

input[type=password] {
    padding: 10px;
    background-color: rgb(44, 38, 41);
    border-radius: 15px;
    border: 2px solid rgb(196, 196, 196);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type=password]:focus {
    outline: none;
    border-color: #cf1892;
}

.upload-section {
    margin-bottom: 0;
}

/* --- LOGIN PAGE --- */
.containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #111111;
    height: 100vh;
}

.containerLogin p {
    background-color: #111111;
}

.formLogin {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-height: 80vh;
    max-width: 500px;
    background-color: rgb(44, 38, 41);
    padding: 40px;
    border-radius: 15px;
    border: 3px solid #cf1892;
}

#formClass {
    background-color: rgb(44, 38, 41);
}

#formClass ul {
    background-color: rgb(44, 38, 41);
}

.formLogin form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formLogin form p {
    background-color: rgb(44, 38, 41);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formLogin form p label {
    background-color: rgb(44, 38, 41);
}

/* =================
   RESPONSIVIDADE
   ================= */
@media screen and (max-width: 768px) {

    /* Destrava o corpo da página */
    html, body{
        overflow-x: hidden !important;
        width: 100%;
    }
    body {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
    }

    /* Títulos */
    .title, h1, h2, .titleSobre {
        font-size: 1.8rem !important;
        text-align: center;
        word-wrap: break-word;
    }

    .user-info {
        display: flex;
        font-size: 1rem;
        flex-direction: column !important;
        height: auto !important;
        padding: 20px !important;
        background: #111;
        width: 100% !important;
        box-sizing: border-box;
        margin-right: 0 !important;
    }
    .profile-button {
        max-width: 50vw;
        margin-left: 0;
        border: 2px solid whitesmoke;
        border-radius: 15px;
        color: #f5f5f5;
        cursor: pointer;
        display: block;
        align-items: center;
    }

    .user-info a,
    .user-info button{
        width: 100% !important;
        height: 60px !important;
        font-size: 1.2rem !important;
        margin: 2vw 0px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .logout-button {
        max-width: 50vw;
        width: 100% !important; 
        margin: 3vw 0px !important; 
    }
    
    .logout-form { 
        display: contents;
        width: 50vw !important;
     }

    /* Configuração do Container Principal */
    .container {
        display: block !important;
        width: auto !important;
        min-height: 100vh;
        padding-inline: 10px !important;
    }

  .divList {
        max-height: none !important; 
        height: auto !important;
        min-width: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        box-sizing: border-box !important;
        padding: 20px !important;
        margin-inline: auto !important;
        overflow-wrap: anywhere;
        word-break: break-word;
  }

    #file-list {
        overflow-y: auto !important; 
        height: auto !important;       
        max-height: 100% !important;
        padding: 15px 10px;    
    }
    li a:hover{
        transform: none;
    }

    .change-dir-container{
        display: flex !important; 
        flex-direction: column;
        width: 100% !important;
        padding: 15px 0 !important;
        align-items: center;
        /* gap: 15px; */
        margin-bottom: 10px;
    }
    .change-dir-container form {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }   
    .folderButton{
        width: 15%;
        margin-inline: 5%;
    }
    #new_path{
        width: 35%;
    }
    input[type="file"] {
        width: 100% !important;
        height: 50px !important;
        font-size: 16px !important;
        position: relative !important;
    }

    .filesUpload button {
        align-items: center;
        width: 50% !important;
        height: 50px !important;
    }
    
    .file-input-label {
        width: 50%;
        text-align: center;
        padding: 15px;
        display: block;
    }
}