@import url(./animation.css);
@import url(./corrections.css);
@import url(./about.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: inter;
    box-sizing: border-box;
    background-color: #111111;;
    color: whitesmoke;
    text-decoration: none;
}
.user-info{
    background-color: #111111;
    height: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10vw;
    perspective: 800px;
    perspective-origin: right center;
}
.profile-button {
    background-color: #cf1892;
    font-size: 1rem;
    height: 40px;
    width: 100px;
    margin-left: 20px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    color: #f5f5f5;
    cursor: pointer;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box; 
}

.profile-button:hover {
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    background-color:#772e8a;
    color: #f5f5f5;
}

.logout-form{
    perspective: 800px;
}
.user-info .logout-button {
    background-color: #cf1892;
    font-size: 1rem;
    height: 40px;
    width: 100px;
    margin-left: 20px;
    transform: translateZ(0);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    
    /* Copiado da sua regra 'button' para ficar igual */
    border: 2px solid whitesmoke;
    border-radius: 15px;
    color: #f5f5f5;
    cursor: pointer;
}

.user-info .logout-button:hover {
    transform: translateZ(60px);
    background-color: #cf1892;
}
.title{
    font-size: 3rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #111111;
    height: 100vh;
}

/* Lists */
ul{
    list-style: outside;
}
li{
    margin-top: 12px;
    transition: transform 0.2s ease-in-out;
}
li a{
    color:#c0c0c0;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    display: inline-block; 
}
li a:hover{
    font-size: 1.1rem;
    color: #f1f1f1;
    transform: translateX(10px);
}
.divList{ 
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-width: 800px;
    min-height: 0;
    max-height: 90vh;
    background-color: rgb(44, 38, 41);
    padding: 40px;
    border-radius: 15px;
    border: 3px solid #cf1892;
    transition: transform 1s ease-in-out;
}
#file-list {
    background-color: rgb(44, 38, 41);
    flex-grow: 1;
    flex-shrink: 1; 
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 200px; 
    padding-right: 10px;
}
#file-list li a{
    display: inline-block;
    overflow-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
}
.filesUpload{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    perspective: 800px;
}
.filesUpload h2 {
    background-color: #111111;
}
button{
    color: #f5f5f5;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-size: 1.1rem;
    width: 100px;
    height: 50px;
    background-color: #cf1892;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transform: translateZ(0);
}
.folderButton{
    width: 50px;
}
.file-input-label {
    cursor: pointer;
    font-size: 1.2rem;
    color: #f5f5f5;
    background-color: #cf1892;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid whitesmoke;
    display: inline-block;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.file-input-label:hover, button:hover{
    background-color: #772e8a;
    transform: translateZ(60px);
}
#file-name {
    color: white;
    font-style: italic;
}
#file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.back-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: rgb(44, 30, 37);;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}
.back-button:hover {
    background-color: #7c2c5b;
}
input[type=text]{
    padding: 10px;
    background-color: rgb(44, 38, 41);
    border-radius: 15px;
    border: 2px solid rgb(196, 196, 196);

    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input[type=text]:focus{
    outline: none;
    border-color: #cf1892;
}
input[type=password]{
    padding: 10px;
    background-color: rgb(44, 38, 41);
    border-radius: 15px;
    border: 2px solid rgb(196, 196, 196);

    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input[type=password]:focus{
    outline: none;
    border-color: #cf1892;
}
.upload-section{
    margin-bottom: 0;
}

/* LOGIN PAGE */

.containerLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #111111;
    height: 100vh;
}

.formLogin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-height: 80vh;
    max-width: 500px;
    background-color: rgb(44, 38, 41);
    padding: 40px;
    border-radius: 15px;
    border: 3px solid #cf1892;
}
#formClass{
    background-color: rgb(44, 38, 41); ;
}
.formLogin form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.formLogin form p {
    background-color:  rgb(44, 38, 41);
    display: flex;
    flex-direction: column; 
    margin-bottom: 1rem; 
}
.formLogin form p label{
    background-color: rgb(44, 38, 41);;
}
