{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre - Local File Transferer</title>

    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/about.css' %}">
</head>
<body>

    {% if user.is_authenticated %}
    <div class="user-info">
        <span>Olá, {{ user.username }}!</span>
        <a href="{% url 'profiles:profile' %}" class="profile-button">Perfil</a>
        <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="logout-button">Deslogar</button>
        </form>
    </div>
    {% endif %}

    <div class="about-page-container">
        
        <div class="divList">
            
            <div class="back-button-container"> 
                <a href="{% url 'browse_root' %}" class="btn-pink">
                    &larr; Voltar
                </a>
            </div>

            <div class="about-content">
                <h1 class="titleSobre">Sobre o Local File Transferer</h1>

                <section class="about-section">
                    <h2>Nossa Missão</h2>
                    <p>O Local File Transferer foi criado com a intenção de fazer com que as transferências de arquivos entre dispositivos sejam facilitadas e agilizadas.</p>
                    <p>O funcionamento consiste na conectividade entre os dispositivos de forma local.</p>
                </section>

                <section class="about-section">
                    <h2>Nossa aplicação permite que você:</h2>
                    <ul>
                        <li>Faça upload de arquivos facilmente</li>
                        <li>Compartilhe arquivos na rede local</li>
                        <li>Gerencie seus arquivos de forma segura</li>
                        <li>Transfira dados rapidamente</li>
                    </ul>
                </section>

                <section class="about-section">
                    <h2>Recursos</h2>
                    <ul>
                        <li>Conectividade de forma local</li>
                        <li>Download de pastas em .zip</li>
                        <li>Upload de arquivos entre dispositivos</li>
                        <li>Criação de perfis</li>
                        <li>Página de administração</li>
                        <li>Visualização de logs das transferências</li>
                        <li>Segurança local</li>
                    </ul>
                </section>

                <section class="about-section">
                    <h2>Contato</h2>
                    <p>Para mais informações ou suporte, entre em contato através do nosso repositório no GitHub.</p>
                    <a href = "https://github.com/shin-nowa/localFileTransferer">Link para o repositório no GitHub.</a>
                </section>
            </div>
        </div>
    </div>
</body>
</html>